<div ng-controller="SelectSurveyController">
    <div class="container">
        <div class="text-center">
            <h3>Select Survey</h3>
            <div>
                <table border="1">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="item in Survey">
                        <tr>
                            <td>
                                <button class="btn btn-primary btn-sm" ng-click="Select(item)">Select</button>
                                <button class="btn btn-primary pull-right btn-sm" ng-click="Go(item)" ng-show="IsGoShown()">Go</button>
                            </td>
                            <td>
                                {{item.Survey.Name}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>