<div ng-controller="SelectSurveyController">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">Select Survey</h3>
                <button class="btn btn-primary pull-right btn-sm" ng-click="Continue()" ng-show="IsContinueShown()">Continue</button>
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Survey Created</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="item in Survey">
                            <tr>
                                <td>
                                    <button class="btn btn-primary btn-sm" ng-click="Select(item)">Select</button>
                                </td>
                                <td>
                                    {{item.Name}}
                                </td>
                                <td>
                                    {{item.SurveyCreated | dateLocalize | date: 'MM/dd/yyyy h:mm:ss a'}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>