<div ng-controller="QuestionAddEditController">
    <h3>Question Detail</h3>
    <div class="col-md-4">
        <div ng-form="form">
            <fieldset class="form-group">
                <label>Question Name</label>
                <input type="text" class="form-control" ng-model="item.Name" required focus-if />
                <br />
                <md-switch class="md-primary" aria-label="Is Required" ng-model="item.IsRequired">
                    <b>Is Required</b>
                    <small>This option will make the question required</small>
                </md-switch>
                <md-switch class="md-primary" aria-label="Is True False" ng-model="item.IsTrueFalse">
                    <b>Is True False</b>
                    <small>This option will make the question true or false only</small>
                </md-switch>
                <br />
                <button class="btn btn-primary pull-right" ng-click="Save()" ng-disabled="!form.$valid">Save</button>
            </fieldset>
        </div>
    </div>
</div>