<div ng-controller="ProductAddEditController">
    <h3>Product Detail</h3>
    <div class="col-md-4">
        <div ng-form="form">
            <fieldset class="form-group">
                <label>Product Name</label>
                <input type="text" class="form-control" ng-model="item.Name" required focus-if="focus" ng-blur="focus = false" />
                <label>Product Category</label>
                <input type="text" class="form-control" typeahead-no-results="noResultsProductCategory" ng-model="item.ProductCategory.Name" uib-typeahead="item.Name for item in SearchProductCategories($viewValue)"
                       ng-model-options="{ debounce: { 'default': 500, 'blur': 0 } }"
                       typeahead-on-select="SelectProductCategory($item, $model, $label)" />
                <div ng-show="noResultsProductCategory">
                    No Results Found!
                </div>
                <label>Product Type</label>
                <div class="input-group">
                    <input type="text" class="form-control" typeahead-no-results="noResultsProductType" ng-model="item.ProductTypeHeader.Name" uib-typeahead="item.Name for item in SearchProductTypes($viewValue)"
                           ng-model-options="{ debounce: { 'default': 500, 'blur': 0 } }"
                           typeahead-on-select="SelectProductType($item, $model, $label)" />
                    <span class="input-group-btn">
                        <button class="btn btn-danger" type="button" ng-click="item.ProductTypeHeaderId = null; item.ProductTypeHeader = null;">Clear</button>
                    </span>
                </div>
                <div ng-show="noResultsProductType">
                    No Results Found!
                </div>
                <br />
                <button class="btn btn-primary pull-right" ng-click="Save()" ng-disabled="!form.$valid">Save</button>
            </fieldset>
        </div>
    </div>
</div>