<div ng-controller="SelectLocationController">
    <div class="container">
        <div class="text-center">
            <h3>Select Location</h3>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Address</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="item in Location">
                        <tr>
                            <td>
                                <button class="btn btn-primary btn-sm" ng-click="Select(item)">Select</button>
                            </td>
                            <td>
                                {{item.Name}}
                            </td>
                            <td>
                                {{item.Address}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <button class="btn btn-primary pull-right btn-sm" ng-click="Continue()" ng-show="IsContinueShown()">Continue</button>
        <small>*Locations within 10 miles of your current location</small>
    </div>
</div>