<div ng-controller="SelectLocationController">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">Select Location</h3>
                <button class="btn btn-primary pull-right btn-sm" ng-click="Continue()" ng-show="IsContinueShown()">Continue</button>
                <div ng-show="LocationServicesDisabled">
                    <label>City or Address</label><br/>
                    <small>Location services is disabled or your location is not accurate enough.  Search by address or city below.</small>
                    <input type="text"
                           class="form-control"
                           typeahead-no-results="noResultsAddress"
                           ng-model="item.Address"
                           uib-typeahead="item.formatted_address for item in ChangeAddress($viewValue)"
                           ng-model-options="{ debounce: { 'default': 2000, 'blur': 0 } }"
                           typeahead-on-select="SelectAddress($item, $model, $label)" />
                    <div ng-show="noResultsAddress">
                        No Results Found!
                    </div>
                </div>
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Survey Created</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="item in Location">
                            <tr>
                                <td>
                                    <button class="btn btn-primary btn-sm" ng-click="Select(item)">Select</button>
                                </td>
                                <td>
                                    {{item.Name}}
                                </td>
                                <td>
                                    {{item.Address}}
                                </td>
                                <td>
                                    {{item.SurveyCreated | dateLocalize | date: 'MM/dd/yyyy h:mm:ss a'}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <small>*Locations within a 5 mile radius of your current location</small>
        <button class="btn btn-xs btn-danger" ng-click="LocationServicesDisabled = !LocationServicesDisabled">Manual Search</button>
    </div>
</div>
