<div ng-controller="LocationAddEditController">
    <h3>Location Detail</h3>
    <div class="col-md-4">
        <div ng-form="form">
            <fieldset class="form-group">
                <label>Location Name</label>
                <input type="text" class="form-control" ng-model="item.Name" maxlength="100" required focus-if="focus" ng-blur="focus = false"  />
                <label>Store</label>
                <input type="text" class="form-control" ng-model="item.Store" maxlength="100" />
                <label>Address</label>
                <!--<input type="text" class="form-control" ng-model="item.Address" maxlength="100" ng-model-options="{ debounce: 1000 }" ng-change="AddressChange()" />-->
                <input type="text" 
                       class="form-control" 
                       typeahead-no-results="noResultsAddress" 
                       ng-model="item.Address" 
                       uib-typeahead="item.formatted_address for item in ChangeAddress($viewValue)"
                       ng-model-options="{ debounce: { 'default': 1000, 'blur': 0 } }"
                       typeahead-on-select="SelectAddress($item, $model, $label)" required />
                <div ng-show="noResultsAddress">
                    No Results Found!
                </div>
                <label>Area Manager</label>
                <input type="text" class="form-control" ng-model="item.AreaManager" maxlength="100" />
                <br />
                <button class="btn btn-primary pull-right" ng-click="Save()" ng-disabled="!form.$valid">Save</button>
            </fieldset>
        </div>
    </div>
</div>