<div ng-controller="SurveyAddEditController">
    <h3>Survey Detail</h3>
    <div class="col-md-4">
        <div ng-form="form">
            <fieldset class="form-group">
                <label>Survey Name</label>
                <input type="text" class="form-control" ng-model="item.Name" required focus-if="focus" ng-blur="focus = false"  />
                <md-switch class="md-primary" aria-label="Is Note Required" ng-model="item.IsNoteRequired">
                    <b>Is Note Required</b>
                    <small>This option will make the survey note required</small>
                </md-switch>
                <md-switch class="md-primary" aria-label="Is Editable" ng-model="item.IsEdit">
                    <b>Is Editable</b>
                    <small>This option will control whether or not data entry can edit a created survey</small>
                </md-switch>
                <label>Survey Editable Days</label>
                <input type="number" class="form-control" ng-model="item.IsEditDays" required />
                <small>This is how many days after creation the survey is editable</small>
                <br />
                <md-switch class="md-primary" aria-label="Is Deletable" ng-model="item.IsDelete">
                    <b>Is Deletable</b>
                    <small>This option will control whether or not data entry can delete a created survey</small>
                </md-switch>
                <label>Survey Deletable Days</label>
                <input type="number" class="form-control" ng-model="item.IsDeleteDays" required />
                <small>This is how many days after creation the survey is deletable</small>
                <br />
                <button class="btn btn-primary pull-right" ng-click="Save()" ng-disabled="!form.$valid">Save</button>
            </fieldset>
        </div>
    </div>
</div>