<div ng-controller="SurveyProductQuestionAddEditController">
    <h3>Survey Product Question Detail</h3>
    <div class="col-md-4">
        <div ng-form="form">
            <fieldset class="form-group">
                <label>Product</label>
                <input type="text" class="form-control" typeahead-no-results="noResultsProduct" ng-model="item.Product.Name" uib-typeahead="item.Name for item in SearchProducts($viewValue)"
                       ng-model-options="{ debounce: { 'default': 500, 'blur': 0 } }"
                       typeahead-on-select="SelectProduct($item, $model, $label)" required focus-if="focus" ng-blur="focus = false" />
                <div ng-show="noResultsProduct">
                    No Results Found!
                </div>
                <label>Question</label>
                <input type="text" class="form-control" typeahead-no-results="noResultsQuestion" ng-model="item.Question.Name" uib-typeahead="item.Name for item in SearchQuestions($viewValue)"
                       ng-model-options="{ debounce: { 'default': 500, 'blur': 0 } }"
                       typeahead-on-select="SelectQuestion($item, $model, $label)" required />
                <div ng-show="noResultsQuestion">
                    No Results Found!
                </div>
                <br />
                <button class="btn btn-primary pull-right" ng-click="Save()" ng-disabled="!form.$valid">Save</button>
            </fieldset>
        </div>
    </div>
</div>