<div ng-controller="UserRoleAddEditController">
    <h3>User Role Detail</h3>
    <div class="col-md-4">
        <div ng-form="form">
            <fieldset class="form-group">
                <label>User Name</label>
                <input required type="text" class="form-control" ng-model="item.User.UserName" focus-if />
                <label>Role</label>
                <select required class="form-control" ng-model="item.Role" ng-options="x.Name for x in Roles"></select>
                <label>Customer</label>
                <select class="form-control" ng-model="item.Customer" ng-options="x.Name for x in Customers"></select>
                <br />
                <button class="btn btn-primary pull-right" ng-click="Save()" ng-disabled="!form.$valid">Save</button>
            </fieldset>
        </div>
    </div>
</div>