<div ng-controller="MainController">
    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li><a ui-sref="main.company.addedit">Companies</a></li>
                <li><a ui-sref="main.customer.addedit">Customers</a></li>
                <li><a ui-sref="main.product.addedit">Products</a></li>
                <li><a ui-sref="main.location.addedit">Locations</a></li>
            </ul>
        </div>
        <div class="col-md-10">
            <div ui-view></div>
        </div>
    </div>
</div>