<div ng-controller="MainController">
    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li><a ui-sref=".merchandise">Merchandise</a></li>
                <li><a ui-sref="main.company">Companies</a></li>
                <li><a ui-sref=".customers">Customers</a></li>
                <li><a ui-sref=".products">Products</a></li>
                <li><a ui-sref="."></a></li>
                <li><a ui-sref="."></a></li>
                <li><a ui-sref="."></a></li>
                <li><a ui-sref="."></a></li>
            </ul>
        </div>
        <div class="col-md-10">
            <div ui-view></div>
        </div>
    </div>
</div>