<div ng-controller="LocationReportController">
        <div class="col-md-2">
            Start Date:
            <md-datepicker ng-model="StartDate" md-placeholder="Enter date" md-min-date="MinDate" md-max-date="MaxDate" ng-change="DateChange()"></md-datepicker>
            End Date:
            <md-datepicker ng-model="EndDate" md-placeholder="Enter date" md-min-date="MinDate" md-max-date="MaxDate" ng-change="DateChange()"></md-datepicker>
            <h4>Positions</h4>
            <ul class="list-group" style="height: 75vh; overflow: hidden; overflow-y: scroll;">
                <li class="list-group-item" ng-repeat="position in positions" ng-click="SelectPosition(position)"
                    ng-style="position.Id === SelectedPosition.Id ? {'background-color': '#428bca'} : { 'background-color': 'white'} ">
                    {{position.FirstName}} {{position.LastName}} {{position.Created | dateLocalize | date: 'MM/dd/yyyy' }} <br />
                    Customer: {{position.Customer.Name}} <br />
                    Location: {{position.Location.Name}}
                </li>
            </ul>
        </div>
        <div class="col-md-10">
            <ng-map zoom="10" center="current-location" style="height: 75vh; ">
                <info-window id="myInfoWindow">
                    <div ng-non-bindable>
                        {{position.FirstName}} {{position.LastName}}
                    </div>
                </info-window>
                <div ng-repeat="position in positions track by $index">
                    <marker id="{{$index}}" position="{{position.Latitude}}, {{position.Longitude}}" on-click="SelectMarker(event, position)"></marker>
                </div>
            </ng-map>
        </div>
</div>