<div ng-controller="AdminController">
    <div class="row">
        <div class="col-md-2">
            <ul class="list-group" style="color:black; cursor: pointer;">
                <li ui-sref-active="active" class="list-group-item" ng-click="Route('main.admin.company.addedit')" ui-sref="main.admin.company.addedit">Companies</li>
                <li ui-sref-active="active" class="list-group-item" ng-click="Route('main.admin.customer.addedit')" ui-sref="main.admin.customer.addedit">Customers</li>
                <li ui-sref-active="active" class="list-group-item" ng-click="Route('main.admin.location.addedit')" ui-sref="main.admin.location.addedit">Locations</li>
                <li ui-sref-active="active" class="list-group-item" ng-click="Route('main.admin.product.addedit')" ui-sref="main.admin.product.addedit">Products</li>
                <li ui-sref-active="active" class="list-group-item" ng-click="Route('main.admin.productcategory.addedit')" ui-sref="main.admin.productcategory.addedit">Product Categories</li>
                <li ui-sref-active="active" class="list-group-item" ng-click="Route('main.admin.producttypeheader.addedit')" ui-sref="main.admin.producttypeheader.addedit">Product Type</li>
                <li ui-sref-active="active" class="list-group-item" ng-click="Route('main.admin.producttypedetail.addedit')" ui-sref="main.admin.producttypedetail.addedit">Product Type Details</li>
                <li ui-sref-active="active" class="list-group-item" ng-click="Route('main.admin.question.addedit')" ui-sref="main.admin.question.addedit">Questions</li>
                <li ui-sref-active="active" class="list-group-item" ng-click="Route('main.admin.userrole.addedit')" ui-sref="main.admin.userrole.addedit">Users</li>
                <li ui-sref-active="active" class="list-group-item" ng-click="Route('main.admin.survey.addedit')" ui-sref="main.admin.survey.addedit">Surveys</li>
                <!--<li ui-sref-active="active" class="list-group-item" ng-click="Route('main.admin.surveycustomerlocationproductquestion.addedit')"
                    ui-sref="main.admin.surveycustomerlocationproductquestion.addedit">Survey Customers Locations Products Questions</li>-->
                <li ui-sref-active="active" class="list-group-item" ng-click="Route('main.admin.surveycustomerlocationproductquestion2.addedit')"
                    ui-sref="main.admin.surveycustomerlocationproductquestion2.addedit">Survey Customers Locations Products Questions</li>
            </ul>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-10">
                    <div ui-view></div>
                </div>
                <div class="col-md-2" style="padding-right:20px;">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Selected Company</h3>
                        </div>
                        <div class="panel-body">
                            {{SelectedCompany.Name}}
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Selected Product Type</h3>
                        </div>
                        <div class="panel-body">
                            {{SelectedProductTypeHeader.Name}}
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><button class="btn btn-success btn-sm" ng-click="PreviewSurvey()">Preview</button> Selected Survey</h3>
                        </div>
                        <div class="panel-body">
                            {{SelectedSurvey.Name}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
