<!--JQUERY-->
<script src="~/Scripts/Dependencies/jquery/2.2.1/jquery.js"></script>
<!--ANGULAR-->
@*<script src="~/Scripts/Dependencies/angularjs/1.5.3/angular.js"></script>*@
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>
<script src="~/Scripts/Dependencies/angularjs/1.5.0-beta.2/angular-route.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<!--BREEZE ANGULAR-->
<script src="~/Scripts/Dependencies/breezejs/1.5.5/breeze.debug.js"></script>
<script src="~/Scripts/Dependencies/breezejs/adapters/breeze.bridge.angular.js"></script>
<!--UI.BOOTSTRAP-->
<script src="~/Scripts/Dependencies/angular-ui-bootstrap/0.14.3/ui-bootstrap.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.2.js"></script>
<!--UI.GRID-->
<script src="~/Scripts/Dependencies/angular-ui-grid/3.0.7/ui-grid.js"></script>
<link rel="stylesheet" type="text/css" href="~/Scripts/Dependencies/angular-ui-grid/3.0.7/ui-grid.css">
<!--MOMENT-->
<script src="~/Scripts/Dependencies/momentjs/2.10.6/moment.js"></script>
<!--ANGULAR UI ROUTER-->
<script src="~/Scripts/Dependencies/angular-ui-router/0.2.18/angular-ui-router.js"></script>
<!--ANGULAR NGMap http://ngmap.github.io/-->
@*<script src="~/Scripts/Dependencies/ngmap/googlemapapi.js"></script>
<script src="~/Scripts/Dependencies/ngmap/ng-map.js"></script>*@
<!--SERVICES--> 
<script src="~/App/Services/Services.js"></script>
<script src="~/App/Services/breeze/breezeservice.js"></script>
<script src="~/App/Services/breeze/metadata.js"></script>
<script src="~/App/Services/Company/CompanyService.js"></script>
<script src="~/App/Services/Company/CompanyUserService.js"></script>
<script src="~/App/Services/Customer/CustomerService.js"></script>
<script src="~/App/Services/Product/ProductService.js"></script>

<script src="~/App/Services/Location/LocationService.js"></script>
<!--APP-->
<script src="~/App/Main/App.js"></script>
<script src="~/App/Main/Controllers/MainController.js"></script>
<script src="~/App/Company/Controllers/CompanyController.js"></script>
<script src="~/App/Company/Controllers/CompanyAddEditController.js"></script>
<script src="~/App/Customer/Controllers/CustomerController.js"></script>
<script src="~/App/Customer/Controllers/CustomerAddEditController.js"></script>
<script src="~/App/Product/Controllers/ProductController.js"></script>
<script src="~/App/Product/Controllers/ProductAddEditController.js"></script>
<script src="~/App/Location/Controllers/LocationController.js"></script>
<script src="~/App/Location/Controllers/LocationAddEditController.js"></script>
<div ng-app="Main">
    <br/>
    <div class="row">
        <div ui-view></div>
    </div>
</div>