<div ng-controller="MerchandiseCustomerLocationController">
    <div class="text-center">
        <label>Company</label>
        <select ng-model="SelectedCompany" ng-options="x.Name for x in Company" ng-change="SelectCompany()"></select><br/>
        <label>Location</label>
        <select ng-model="SelectedLocation" ng-options="x.Location.Name for x in Location" ng-change="SelectLocation()"></select><br />
        <label>Customer</label>
        <select ng-model="SelectedCustomer" ng-options="x.Customer.Name for x in Customer" ng-change="SelectCustomer()"></select><br />
        <label>Survey</label>
        <select ng-model="SelectedSurvey" ng-options="x.Survey.Name for x in Survey" ng-change="SelectSurvey()"></select>
    </div>
</div>