<div ng-controller="MainController">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ng-click="GoTo('main.admin.company.addedit')" style="cursor:pointer;">DataStackIO</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav" style="cursor:pointer;">
                    <li><a ng-click="GoTo('main.admin.company.addedit')" data-toggle="collapse" data-target="#navbar" ng-show="Role == 'Administrator'">Admin</a></li>
                    <li><a ng-click="GoTo('main.survey')" data-toggle="collapse" data-target="#navbar" ng-show="Role == 'Administrator' || Role == 'Data Entry'">Survey</a></li>
                    <li><a ng-click="GoTo('main.report.surveyheaderreport')" data-toggle="collapse" data-target="#navbar">Report</a></li>
                    <!--<li><a ng-click="GoTo('main.map')">Map</a></li>-->

                </ul>
                <ul class="nav navbar-nav navbar-right" style="cursor:pointer;">
                    <li><a >Hello {{Username}}!</a></li>
                    <li><a ng-click="Logout()">Log off</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div ui-view></div>
</div>
