<div ng-controller="MainController">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ng-click="GoTo('main.admin.company.addedit')">Merchandiser</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li><a ng-click="GoTo('main.admin.company.addedit')">Admin</a></li>
                    <li><a ng-click="GoTo('main.survey')">Survey</a></li>
                    <li><a ng-click="GoTo('main.report.surveyreport')">Report</a></li>
                    <!--<li><a ng-click="GoTo('main.map')">Map</a></li>-->

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a>Hello {{Username}}!</a></li>
                    <li><a ng-click="Logout()">Log off</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div style="padding-top:50px;" ui-view></div>
</div>
