<div ng-controller="CustomerAddEditController">
    <h3>Customer Detail</h3>
    <div class="col-md-4">
        <div ng-form="form">
            <fieldset class="form-group">
                <label>Customer Name</label>
                <input type="text" class="form-control" ng-model="item.Name" required />
                <br />
                <label>Send Report</label>
                <md-switch class="md-primary" md-no-ink aria-label="Send Report" ng-model="item.IsSendReport">           
                </md-switch>
                <br/>
                <button class="btn btn-primary pull-right" ng-click="Save()" ng-disabled="!form.$valid">Save</button>
            </fieldset>
        </div>
    </div>
</div>