<div ng-controller="SurveyCustomerLocationAddEditController">
    <h3>Survey Customer Location Detail</h3>
    <div class="col-md-4">
        <div ng-form="form">
            <fieldset class="form-group">
                <label>Customer</label>
                <input type="text" class="form-control" typeahead-no-results="noResultsCustomers" ng-model="item.Customer.Name" uib-typeahead="item.Name for item in SearchCustomers($viewValue)" 
                       ng-model-options="{ debounce: { 'default': 500, 'blur': 0 } }"
                       typeahead-on-select="SelectCustomer($item, $model, $label)" required focus-if />
                <div ng-show="noResultsCustomers">
                    No Results Found!
                </div>
                <label>Location</label>
                <input type="text" class="form-control" typeahead-no-results="noResultsLocation" ng-model="item.Location.Name" uib-typeahead="item.Name for item in SearchLocations($viewValue)" 
                       ng-model-options="{ debounce: { 'default': 500, 'blur': 0 } }"
                       typeahead-on-select="SelectLocation($item, $model, $label)" required />
                <div ng-show="noResultsLocation">
                    No Results Found!
                </div>
                <br />
                <button class="btn btn-primary pull-right" ng-click="Save()" ng-disabled="!form.$valid">Save</button>
            </fieldset>
        </div>
    </div>
</div>