<div ng-controller="MerchandiseSurveyController">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <label>Before Image</label>
                <br />
                <!--http://stackoverflow.com/questions/17922557/angularjs-how-to-check-for-changes-in-file-input-fields-->
                <label class="btn btn-primary btn-sm btn-file">
                    Choose Image <input type="file" accept="image/*" style="display: none;" onchange="angular.element(this).scope().setBeforeImage(this)">
                </label>
                <button class="btn btn-danger btn-sm" ng-click="DeleteBeforeImage()" ng-disabled="Header.BeforeImage == null && BeforeImage == null">Delete Image</button>
                <br />
                <img id="BeforeImage" ng-src="{{BeforeImage}}" ng-show="BeforeImage !== null" alt="No Image Found" style="max-width:400px; max-height:400px" />
                <!--<canvas id="CanvasBeforeImage" style="max-width:400px; max-height:400px"></canvas>-->
                <br />
                <table border="1">
                    <thead>
                        <tr>
                            <th>
                                Product
                            </th>
                            <th>
                                Question
                            </th>
                            <th>
                                Answer
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in Detail | orderBy: ['Product.Name','Question.Name'] ">
                            <td>
                                {{item.Product.Name}}
                            </td>
                            <td>
                                {{item.Question.Name}}
                            </td>
                            <td>
                                <input ng-model="item.Answer" type="text" placeholder="Answer..." class="form-control input-sm" />
                            </td>
                        </tr>
                    </tbody>
                </table>
                <label>After Image</label>
                <br />
                <!--http://stackoverflow.com/questions/17922557/angularjs-how-to-check-for-changes-in-file-input-fields-->
                <label class="btn btn-primary btn-sm btn-file">
                    Choose File <input type="file" accept="image/*" style="display: none;" onchange="angular.element(this).scope().setAfterImage(this)">
                </label>
                <button class="btn btn-danger btn-sm" ng-click="DeleteAfterImage()" ng-disabled="Header.AfterImage == null && AfterImage == null">Delete Image</button>
                <br />
                <img id="AfterImage" ng-src="{{AfterImage}}" ng-show="AfterImage !== null" alt="No Image Found" style="max-width:400px; max-height:400px" />
                <!--<canvas id="CanvasAfterImage" style="max-width:400px; max-height:400px"></canvas>-->
                <br />
            </div>
            <div class="col-md-6">
                <div class="pull-left">
                    <label for="manager">Manager</label>
                    <div id="manager">
                        <p ng-model="Location.AreaManager" ng-show="Location.AreaManager != null">{{Location.AreaManager}}</p>
                        <p ng-model="item.Location.AreaManager" ng-show="item.Location.AreaManager != null">{{item.Location.AreaManager}}</p>
                    </div>
                    <label for="notes">Notes</label>
                    <br />
                    <textarea class="form-control" id="notes" ng-model="Header.Notes" style="height:200px; width:25vh;">{{Header.Notes}}</textarea>
                    <br />
                    <button class="btn btn-primary btn-sm pull-right" ng-click="Save()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>