<div ng-controller="MerchandiseSurveyController">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div affix-resizer>
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="panel panel-primary" style="max-width:375px;">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Survey Information</h3>
                                </div>
                                <div class="panel-body">
                                    <label for="surveyName">Survey Name</label>
                                    <p id="surveyName">{{Survey.Name}}</p>
                                    <label for="customer">Customer Name</label>
                                    <p id="customer">{{Customer.Name}}</p>
                                    <label for="locationName">Location Name</label>
                                    <p id="locationName">{{Location.Name}}</p>
                                    <label for="locationAddress">Location Address</label>
                                    <p id="locationAddress">{{Location.Address}}</p>
                                    <label for="manager">Location Manager</label>
                                    <p id="manager">{{Location.AreaManager}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <label for="notes">Notes</label>
                            <textarea class="form-control" id="notes" ng-model="Header.Notes" style="height:200px; width:95vh;">{{Header.Notes}}</textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <form name="outerForm">
                    <label>Before Image</label>
                    <br />
                    <!--http://stackoverflow.com/questions/17922557/angularjs-how-to-check-for-changes-in-file-input-fields-->
                    <label class="btn btn-primary btn-sm btn-file">
                        Choose Image <input type="file" accept="image/*" style="display: none;" onchange="angular.element(this).scope().setBeforeImage(this)">
                    </label>
                    <button class="btn btn-danger btn-sm" ng-click="DeleteBeforeImage()" ng-disabled="Header.BeforeImage == null && BeforeImage == null">Delete Image</button>
                    <br />
                    <img id="BeforeImage" ng-src="{{BeforeImage}}" ng-show="BeforeImage !== null" alt="No Image Found" style="max-width:400px; max-height:400px" />
                    <!--<canvas id="CanvasBeforeImage" style="max-width:400px; max-height:400px"></canvas>-->
                    <br />

                    <table border="1">
                        <thead>
                            <tr>
                                <th ng-click="changeSorting('Product.ProductCategory.Name')">
                                    <a>Category</a>
                                </th>
                                <th ng-click="changeSorting('Product.Name')">
                                    <a>Product</a>
                                </th>
                                <th ng-click="changeSorting('Question.Name')">
                                    <a>Question</a>
                                </th>
                                <th>
                                    Answer
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-form name="innerForm" ng-repeat="item in Detail | orderBy: sort.column: sort.descending">
                                <td>
                                    {{item.Product.ProductCategory.Name}}
                                </td>
                                <td>
                                    {{item.Product.Name}}
                                </td>
                                <td>
                                    {{item.Question.Name}}
                                </td>
                                <td>
                                    <md-input-container>
                                    <input class="form-control input-sm" type="text" name="Answer" placeholder="" ng-model="item.Answer" ng-required="item.Question.IsRequired" />
                                    <div ng-messages="innerForm.Answer.$error">
                                        <div ng-message="required">This is required!</div>
                                    </div>
                                    </md-input-container>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <label>After Image</label>
                    <br />
                    <!--http://stackoverflow.com/questions/17922557/angularjs-how-to-check-for-changes-in-file-input-fields-->
                    <label class="btn btn-primary btn-sm btn-file">
                        Choose File <input type="file" accept="image/*" style="display: none;" onchange="angular.element(this).scope().setAfterImage(this)">
                    </label>
                    <button class="btn btn-danger btn-sm" ng-click="DeleteAfterImage()" ng-disabled="Header.AfterImage == null && AfterImage == null">Delete Image</button>
                    <br />
                    <img id="AfterImage" ng-src="{{AfterImage}}" ng-show="AfterImage !== null" alt="No Image Found" style="max-width:400px; max-height:400px" />
                    <!--<canvas id="CanvasAfterImage" style="max-width:400px; max-height:400px"></canvas>-->
                    <br />
                    <button class="btn btn-primary btn-sm pull-right" ng-click="Save()" ng-disabled="outerForm.$invalid">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>