<div ng-controller="MerchandiseSurveyController">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <label>Before Image</label>
                <br />
                <!--http://stackoverflow.com/questions/17922557/angularjs-how-to-check-for-changes-in-file-input-fields-->
                <label class="btn btn-primary btn-sm btn-file">
                    Choose File <input type="file" accept="image/*" style="display: none;" onchange="angular.element(this).scope().setBeforeImage(this)" >
                </label>
                <br/>
                <img ng-src="{{Header.BeforeImage}}" style="max-width:200px; max-height:200px"/>
                <br />
                <table border="1">
                    <thead>
                        <tr>
                            <th>
                                Product
                            </th>
                            <th>
                                Question
                            </th>
                            <th>
                                Answer
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in Detail | orderBy: ['Product.Name','Question.Name'] ">
                            <td>
                                {{item.Product.Name}}
                            </td>
                            <td>
                                {{item.Question.Name}}
                            </td>
                            <td>
                                <input ng-model="item.Answer" type="text" placeholder="Answer..." class="form-control input-sm" />
                            </td>
                        </tr>
                    </tbody>
                </table>
                <label>After Image</label>
                <br />
                <!--http://stackoverflow.com/questions/17922557/angularjs-how-to-check-for-changes-in-file-input-fields-->
                <label class="btn btn-primary btn-sm btn-file">
                    Choose File <input type="file" accept="image/*" style="display: none;" onchange="angular.element(this).scope().setAfterImage(this)">
                </label>
                <br />
                <img ng-src="{{Header.AfterImage}}" style="max-width:200px; max-height:200px" />
                <br/>
                <button class="btn btn-primary btn-sm pull-right" ng-click="Save()">Save</button>
            </div>
        </div>
    </div>
</div>