<div ng-controller="MainController">
    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li ui-sref-active="active"><a ng-click="Route('main.company.addedit')">Companies</a></li>
                <li ui-sref-active="active"><a ng-click="Route('main.customer.addedit')">Customers</a></li>
                <li ui-sref-active="active"><a ng-click="Route('main.location.addedit')">Locations</a></li>
                <li ui-sref-active="active"><a ng-click="Route('main.product.addedit')">Products</a></li>
                <li ui-sref-active="active"><a ng-click="Route('main.question.addedit')">Questions</a></li>
                <li ui-sref-active="active"><a ng-click="Route('main.userrole.addedit')">Users</a></li>
                <li ui-sref-active="active"><a ng-click="Route('main.survey.addedit')">Surveys</a></li>
                <li ui-sref-active="active"><a ng-click="Route('main.surveycustomerlocation.addedit')">Survey Customers and Locations</a></li>
                <li ui-sref-active="active"><a ng-click="Route('main.surveyproductquestion.addedit')">Survey Products and Questions</a></li>
            </ul>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-10">
                    <div ui-view></div>
                </div>
                <div class="col-md-2">
                    <label ng-show="SelectedCompany.Id !== undefined">Company</label>
                    <h5>{{SelectedCompany.Name}}</h5>
                    <label ng-show="SelectedSurvey.Id !== undefined">Survey</label>
                    <h5>{{SelectedSurvey.Name}} </h5>
                </div>
            </div>
        </div>
    </div>
</div>