<div ng-controller="MainController">
    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li ui-sref-active="active"><a ui-sref="main.company.addedit">Companies</a></li>
                <li ui-sref-active="active"><a ui-sref="main.customer.addedit">Customers</a></li>
                <li ui-sref-active="active"><a ui-sref="main.location.addedit">Locations</a></li>
                <li ui-sref-active="active"><a ui-sref="main.product.addedit">Products</a></li>
                <li ui-sref-active="active"><a ui-sref="main.question.addedit">Questions</a></li>
                <li ui-sref-active="active"><a ui-sref="main.userrole.addedit">Users</a></li>
                <li ui-sref-active="active"><a ui-sref="main.survey.addedit">Surveys</a></li>
                <li ui-sref-active="active"><a ui-sref="main.surveycustomerlocation.addedit">Survey Customers and Locations</a></li>
                <li ui-sref-active="active"><a ui-sref="main.surveyproductquestion.addedit">Survey Products and Questions</a></li>
            </ul>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-10">
                    <div ui-view></div>
                </div>
                <div class="col-md-2">
                    <label ng-show="SelectedCompany.Id !== undefined">Company</label>
                    <h5>{{SelectedCompany.Name}}</h5>
                    <label ng-show="SelectedSurvey.Id !== undefined">Survey</label>
                    <h5>{{SelectedSurvey.Name}} </h5>
                </div>
            </div>
        </div>
    </div>
</div>