<div ng-controller="MerchandiseCustomerLocationController">
    <div class="col-md-4"></div>
    <div class="col-md-2">
        <label>Company</label>
        <select class="form-control" ng-model="SelectedCompany" ng-options="x.Name for x in Company" ng-change="SelectCompany()"></select><br/>
        <label>Customer</label>
        <select class="form-control" ng-model="SelectedCustomer" ng-options="x.Name for x in Customer" ng-change="SelectCustomer()"></select><br />
        <label>Store</label>
        <select class="form-control" ng-model="SelectedLocation" ng-options="x.Name for x in Location" ng-change="SelectLocation()"></select><br />
        <label>Survey</label>
        <select class="form-control" ng-model="SelectedSurvey" ng-options="x.Survey.Name for x in Survey" ng-change="SelectSurvey()"></select>
        <br/>
        <button class="btn btn-primary pull-right" ng-click="SelectSurvey()" ng-show="IsGoShown()" ng-disabled="IsGoDisabled()">Go</button>
    </div>
    <div class="col-md-6"></div>
</div>