body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:#ffffff;
}

/* http://stackoverflow.com/questions/42100246/angular-ui-grid-scroll-error */
.ui-grid-viewport {
    overflow-anchor: none;
}

.a {
    cursor: pointer;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color:#ffffff;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input[type='text'],
input[type='number'],
input[type='password'],
textarea {
    max-width: 280px;
    /*http://stackoverflow.com/questions/11064237/prevent-iphone-from-zooming-form*/
    font-size: 16px;
}

/*ui grid draggable css*/
.ui-grid-draggable-row-target {
  opacity: 0.5 !important;
}
.ui-grid-draggable-row {
  height: 30px;
}
.ui-grid-draggable-row-over {
  position: relative;
}
.ui-grid-draggable-row-over:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  border-bottom: 1px dotted #AAA;
}
.ui-grid-draggable-row-over--above:before {
  top: 0;
}
.ui-grid-draggable-row-over--below:before {
  bottom: 0;
}