<div ng-controller="SurveyCustomerLocationProductQuestionAddEditController">
    <h3></h3>
    <div ng-form="form">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Customer</label>
                        <input type="text" class="form-control" typeahead-no-results="noResultsCustomers" ng-model="item.Customer.Name" uib-typeahead="item.Name for item in SearchCustomers($viewValue)"
                               ng-model-options="{ debounce: { 'default': 500, 'blur': 0 } }"
                               typeahead-on-select="SelectCustomer($item, $model, $label)" required />
                        <div ng-show="noResultsCustomers">
                            No Results Found!
                        </div>
                        <label>Location</label>
                        <input type="text" class="form-control" typeahead-no-results="noResultsLocation" ng-model="item.Location.Name" uib-typeahead="item.Name for item in SearchLocations($viewValue)"
                               ng-model-options="{ debounce: { 'default': 500, 'blur': 0 } }"
                               typeahead-on-select="SelectLocation($item, $model, $label)" required />
                        <div ng-show="noResultsLocation">
                            No Results Found!
                        </div>
                        <label>Product</label>
                        <input type="text" class="form-control" typeahead-no-results="noResultsProduct" ng-model="item.Product.Name" uib-typeahead="item.Name for item in SearchProducts($viewValue)"
                               ng-model-options="{ debounce: { 'default': 500, 'blur': 0 } }"
                               typeahead-on-select="SelectProduct($item, $model, $label)" required />
                        <div ng-show="noResultsProduct">
                            No Results Found!
                        </div>
                        <label>Question</label>
                        <input type="text" class="form-control" typeahead-no-results="noResultsQuestion" ng-model="item.Question.Name" uib-typeahead="item.Name for item in SearchQuestions($viewValue)"
                               ng-model-options="{ debounce: { 'default': 500, 'blur': 0 } }"
                               typeahead-on-select="SelectQuestion($item, $model, $label)" required focus-if="focus" ng-blur="focus = false" />
                        <div ng-show="noResultsQuestion">
                            No Results Found!
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <br /><br /><br /><br /><br /><br />
                        <lable></lable>
                        <button class="btn btn-danger btn-sm" ng-click="Copy()" ng-disabled="copyItem.CustomerId == null || item.CustomerId == null">Copy To</button>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Customer</label>
                        <input type="text" class="form-control" typeahead-no-results="noResultsCustomersCopy" ng-model="itemCopy.Customer.Name" uib-typeahead="item.Name for item in SearchCustomers($viewValue)"
                               ng-model-options="{ debounce: { 'default': 500, 'blur': 0 } }"
                               typeahead-on-select="SelectCustomerCopy($item, $model, $label)" />
                        <div ng-show="noResultsCustomersCopy">
                            No Results Found!
                        </div>
                        <label>Location</label>
                        <input type="text" class="form-control" typeahead-no-results="noResultsLocationCopy" ng-model="itemCopy.Location.Name" uib-typeahead="item.Name for item in SearchLocations($viewValue)"
                               ng-model-options="{ debounce: { 'default': 500, 'blur': 0 } }"
                               typeahead-on-select="SelectLocation($item, $model, $label)" />
                        <div ng-show="noResultsLocationCopy">
                            No Results Found!
                        </div>
                        <label>Product</label>
                        <input type="text" class="form-control" typeahead-no-results="noResultsProductCopy" ng-model="itemCopy.Product.Name" uib-typeahead="item.Name for item in SearchProducts($viewValue)"
                               ng-model-options="{ debounce: { 'default': 500, 'blur': 0 } }"
                               typeahead-on-select="SelectProduct($item, $model, $label)" />
                        <div ng-show="noResultsProductCopy">
                            No Results Found!
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary pull-right" ng-click="Save()" ng-disabled="!form.$valid">Save</button>
    </div>
</div>