<div ng-controller="MerchandiseController">
    <div class="row">
        <div class="col-md-4">
            <br/>
            <form>
                <fieldset class="form-group">
                    <label for="formGroupExampleInput">Product Name</label>
                    <input type="text" class="form-control" placeholder="" ng-model="Item.Name">
                </fieldset>
                <fieldset class="form-group">
                    <label for="formGroupExampleInput2">UPC Code</label>
                    <input type="text" class="form-control" placeholder="" ng-model="Item.UPCCode">
                </fieldset>
                <fieldset class="form-group">
                    <label for="formGroupExampleInput2">Quantity</label>
                    <input type="text" class="form-control" required placeholder="" ng-model="Item.Quantity">
                </fieldset>
                <button type="submit" class="btn btn-primary" ng-click="Submit()">Submit</button>
            </form>
        </div>
        <div class="col-md-8">
            <div ng-repeat="Item in Items">
                <label>{{Item.Name}}</label>
            </div>
        </div>
    </div>
</div>